<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="edu.illinois.ncsa.cyberintegrator.rcp.cyberintegrator"
            class="edu.illinois.ncsa.cyberintegrator.executor.java.wizard.JavaToolWizard"
            icon="icons/java_app.gif"
            id="edu.illinois.ncsa.cyberintegrator.executor.java.wizard.JavaToolWizard"
            name="Java Tool">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.illinois.ncsa.cyberintegrator.rcp.perspective">
         <newWizardShortcut
               id="edu.illinois.ncsa.cyberintegrator.executor.java.wizard.JavaToolWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
