<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="edu.illinois.ncsa.datawolf.rcp.datawolf"
            class="edu.illinois.ncsa.datawolf.executor.commandline.wizard.CommandLineWizard"
            icon="icons/prompt.png"
            id="edu.illinois.ncsa.datawolf.executor.commandline.wizard.CommandLineWizard"
            name="Command Line Tool">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.illinois.ncsa.datawolf.rcp.perspective">
         <newWizardShortcut
               id="edu.illinois.ncsa.datawolf.executor.commandline.wizard.CommandLineWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
