<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberintegrator Editor</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>
</script>
    <script type="text/template" id="person-list-item">
        <%= firstName %> <%= lastName %> - <%= email %>
    </script>
    <script type="text/template" id="workflow-list-item">
       <%= title %>
    </script>
    <script type="text/template" id="workflow-info-view">
        <form class="form-inline">
            <div class="control-group">
                <label class="control-label" for="workflow-title">Title:</label>
                <div class="controls">
                    <input type="text" name="workflow-title" id="workflow-title" placeholder="enter title" value="<%= title %>"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="workflow-date">Date:</label>
                <div class="controls">
                    <input type="text" name="workflow-date" id="workflow-date" placeholder="no date" value="<%= created %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="workflow-creator">Creator:</label>
                <div class="controls">
                    <input type="text" name="workflow-creator" id="workflow-creator" placeholder="no creator" value="<%= creator.firstName %> <%= creator.lastName %>" readonly/>
                </div>
            </div>
        </form>
    </script>
     <script type="text/template" id="tool-data-info-view">
        <form class="form-inline">
            <div class="control-group">
                <label class="control-label" for="tooldata-title">Title:</label>
                <div class="controls">
                    <input type="text" name="tooldata-title" id="tooldata-title" placeholder="enter title" value="<%= title %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tooldata-description">Description:</label>
                <div class="controls">
                    <input type="text" name="tooldata-description" id="tooldata-description" placeholder="no date" value="<%= description %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tooldata-mimetype">Mime-Type:</label>
                <div class="controls">
                    <input type="text" name="tooldata-mimetype" id="tooldata-mimetype" placeholder="no creator" value="<%= mimeType %>" readonly/>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="workflow-step-info-view">
    </script>
    <script type="text/template" id="new-workflow-buttons">
        <div class="btn-toolbar nav-button-bar">
            <div class="btn-group pull-right cbi-btn-group">
                <button id="workflow-info-btn" type="button" data-toggle="buttons" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-share"></span>
                </button>
                <button id="delete-workflow" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button> 
                <button id="new-workflow" type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                </button> 
            </div>
        </div>
    <!--
        <div class="btn-group">
            <button id="new-workflow" class="btn btn-default">New</button>
            <button id="open-workflow" class="btn btn-default">Open</button>
            <button id="delete-workflow" class="btn btn-default">Delete</button>
            <button id="copy-workflow" class="btn btn-default">Copy</button>
            
        <div> -->    
    </script>
    <script type="text/template" id="new-workflow">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="workflow-title">Title:</label>
                <div class="controls">
                    <input type="text" name="workflow-title" id="workflow-title" placeholder="enter title"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" id="create-workflow">Create</button>
                    <button class="btn" id="cancel">Cancel</button>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="workflow-graph-button-bar">
        <div class="canvas-button-bar">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div> 
    </script>
    <script type="text/template" id="addshape-button-template">
        <button id="addshape-button" class="btn btn-primary">Add Shape</button>
    </script>
    <script type="text/template" id="workflow-popover">
        <div class="info-title-bkgrd info-title-font">
            <%= title %>
        </div>
    </script>
    <script type="text/template" id="workflow-popover-content">
        <div>
            <div>
               <table class="table">
                <tbody>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Date Created</font></td>
                        <td><font class="info-metadata-fontvalue"><%= created %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Author</font></td>
                        <td><font class="info-metadata-fontvalue"><%= creator.firstName %> <%= creator.lastName %></font></td>
                    </tr>
                </tbody>
               </table>
            </div>
            <div class="">
               <div class="info-tab-bkgrd info-tab-div">
                    <font class="info-tab-font">Description</font>
                </div>
                <div class="info-content-normal">
                    <%= description %>
                </div>
            </div>
        </div>
    </script>

    <!-- Tool Info Scripts -->
    <script type="text/template" id="workflow-tool-popover-content-top">
        <table class="table">
                <tbody>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Date Created</font></td>
                        <td><font class="info-metadata-fontvalue"><%= date %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Author</font></td>
                        <td><font class="info-metadata-fontvalue">Unknown</font></td>
                    </tr>
                </tbody>
               </table>
    </script>
   <script type="text/template" id="workflow-tool-popover-content-description">
        <div class="info-tab-bkgrd info-tab-div">
            <font class="info-tab-font">Description</font>
        </div>
        <div class="info-content-normal">
            <%= description %>
        </div>
    </script> 
    <script type="text/template" id="workflow-tool-popover-content-input-title">
               <div class="info-tab-bkgrd info-tab-div">
                    <font class="info-tab-font">Inputs</font>
                </div>
    </script>
    <script type="text/template" id="workflow-tool-popover-content-inputs">
                <div class="info-content-normal">
                    <font class="info-content-subhead"><%= title %></font>
                    <br>
                    <%= description %>
                </div>
    </script>
    <!--
    <nav class="navbar navbar-static-top nav-stacked" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cyberintegrator Editor</a>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Execute</a></li>
                    <li><a href="#">About</a></li>   
                    <li><a href="#">Contact</a></li>   
                </ul>
            </div>
        </div>
    </nav> -->
    <div id='editor-app' class="container-liquid">
        <div class="row">
            <div class="col-lg-2 panel-left-bkgrd">
                <div id="spacer" class=""></div>
                <div id="my-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active Nav-1-link"><a href="#"><label class="Nav-1-Selected">Build</label></a></li>
                        <li class="Nav-1-link"><a href="#"><label class=" Nav-1-Default">Execute</label></a></li>
                    </ul>
                </div> 
                <div id="tool-parent">
                    <div class="Nav-2-Bkgrd nav-title">
                        <h3 class="cbi-title Nav-2-Text">
                             <span class="glyphicon glyphicon-wrench title-header"></span>
                            <!--
                            <button type="button" class="btn btn-default btn-sm tool-button">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </button> -->
                            Tools
                            
                        </h3>
                    </div>
                    <div>
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="tool-search" id="tool-search"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="workflow-tools"></div>
                        <div class="btn-toolbar nav-button-bar">
                        <!-- <div class="test-div"> -->
                        <div class="btn-group pull-right cbi-btn-group">
                            <button type="button" data-toggle="buttons" class="btn btn-default btn-xs test-p">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-share"></span>
                            </button>
                            <!-- TODO implement add tool, this is just a UI placeholder --> 
                            <button type="button" class="btn btn-default btn-xs open">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>                 
                </div>
                <br/>
                <div id="workflow-parent">
                    <div class="Nav-2-Bkgrd nav-title">
                        <h3 class="cbi-title Nav-2-Text">
                            <span class="glyphicon glyphicon-link title-header"></span>
                            <!--
                            <button type="button" class="btn btn-default btn-sm tool-button">
                                <span class="glyphicon glyphicon-link"></span>
                            </button> -->
                            Workflows
                        </h3>
                    </div>
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="workflow-search" id="workflow-search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <div id="workflows"></div>
                    <div id="workflowbuttons"></div>
                    <!--
                    <div class="btn-toolbar nav-button-bar">
                        
                        <div class="btn-group pull-right cbi-btn-group">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-share"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs deleteWorkflow">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button> -->
                            <!-- TODO implement add tool, this is just a UI placeholder -->
                            <!--
                            <button type="button" class="btn btn-default btn-xs open openTab">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button> 
                        </div>-->
                </div>
                <!--
                <div id="tool-parent">
                    <legend class="cbi-legend">Tools</legend>
                    <div id="workflow-tools"></div>                 
                </div>
                -->
                <!--
                <div id="tool-parent" class="panel panel-default my-header">
                    <div class="panel-heading my-header">
                        <h3 class="panel-title my-header">Tools</h3>
                    </div>
                    <div id="workflow-tools" class="panel-body my-header"></div>                 
                </div> -->
                <!--
                <div id="workflow-parent">
                    <legend class="cbi-legend">Workflows</legend>
                    <div id="workflows"></div>
                    <div id="workflowbuttons"></div>
                    <div id="modalWorkflowView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="newWorkflowDialogLabel">New Workflow</h3>
                        </div>
                        <div class="modal-body" id="modal-content">
                            <div id="new-workflow-content"></div>
                        </div>
                        <div class="modal-footer">
                        </div> 
                    </div>
                </div> -->
                <!--
                <div id="workflow-parent" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Workflows</h3>
                    </div>
                    <div id="workflows" class="panel-body"></div>
                </div> -->
                <!--
                <div id='workflow-tool-info'>
                    <legend class="cbi-legend">Info</legend>
                    <div id="infoview">
                        <form id="form">
                        </form>
                    </div>
                </div> -->
                <!--
                <div id="person-parent">
                    <legend class="cbi-legend">Users</legend>
                    <div id="persons"></div>
                </div> -->
            </div>
            <div class="panel-right-bkgrd col-lg-10">
                <div class="pull-right app-login">
                    <a href="">Hello Chris</a> 
                    <label>|</label>
                    <a href="">Logout</a>
                     <span class="glyphicon glyphicon-briefcase"></span>
                </div> 
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li id="add-workflow">
                        <a href="" data-toggle="tab">
                           <button type="button" class="btn btn-default btn-xs openTab mytab">
                                <span class="glyphicon glyphicon-plus add-workflow-button"></span>
                            </button> 
                        </a>
                    </li>
                    <li class="active">
                        <a href="#pane1" data-toggle="tab" class="mytab">
                            <button class="close closeTab" type="button" >×</button><label id="lbl" class="canvastab-text-selected">Untitled</label>
                        </a>
                    </li>
                    <!--
                    <li class="">
                        <a href="#pane2" data-toggle="tab" class="mytab"><button class="close closeTab" type="button" >×</button><label id="lbl1" class="canvastab-text-unselected">Untitled</label></a>
                    </li> -->
                    <!--
                        <li class="active"><a href="#pane1" data-toggle="tab" title="my title"><button class="close closeTab" type="button" >×</button><label id="lbl">Tab 1</label></a></li>
                        <li><a href="#pane2" data-toggle="tab"><button class="close closeTab" type="button" >×</button><label id="lbl2">Tab 2</label></a></li>
                    -->
                </ul>
               
                <div id="tab-content" class="tab-content">
                    
                    <div id="pane1" class="tab-pane active dropzone canvas-selected">
                        <!--
                        <div class="canvas-button-bar">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div> -->
                    </div>
                    <!--
                    <div id="pane2" class="tab-pane ">
                        hello world
                     </div> -->
                </div>

                <!--
                <div id="tabs">
                    <ul id="cbi-nav-tabs" class="nav nav-tabs">
                        <li><a href="pane3" data-toggle="tab">+</a></li>
                        <li class="active"><a href="#pane1" data-toggle="tab" title="my title"><button class="close closeTab" type="button" >×</button><label id="lbl">Tab 1</label></a></li>
                        <li><a href="#pane2" data-toggle="tab"><button class="close closeTab" type="button" >×</button><label id="lbl2">Tab 2</label></a></li>
                    </ul>
                    <div id="tab-content" class="tab-content">
                        <div id="pane1" class="active dropzone wgraph">
                            hello world 2
                            
                        </div>
                        <div id="pane2" class="wgraph">
                            hello world
                         </div> 
                    </div>
                </div> -->
            </div>
        </div>
        <!--
        <div class="row-fluid">
            <div class="span2">
                <div id='workflow-tool-info'>
                    <legend class="cbi-legend">Info</legend>
                    <div id="infoview">
                        <form id="form">
                             <div class="row-fluid">
                                <div class="span4">
                                    <label>Title:</label>
                                    <label>Description:</label>
                                    <label>Author:</label>
                                    <label>Version:</label>
                                </div>
                                <div class="span4">
                                    <label>the-title</label>
                                    <text>the-description</text>
                                    <label>the-author</label>
                                    <label>the-version</label>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script src="assets/jquery-1.9.0.js"></script>
    <script src="assets/jquery-ui-1.9.2-min.js"></script>
    <script src="assets/json2.js"></script>
    
    <script src="assets/underscore-min.js"></script>
    <script src="assets/backbone-min.js"></script> 
    <script src="assets/backbone.dualstorage.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="assets/backbone.localStorage.js"></script> -->

    <script src="assets/jquery.jsPlumb-1.4.1-all-min.js"></script>

    <!-- Views -->
    <script src="js/views/workflowgraphview.js"></script>
    <script src="js/views/workflowtoolview.js"></script>
    <script src="js/views/workflowview.js"></script>
    <script src="js/views/infoview.js"></script>
    <!-- <script src="js/views/personview.js"></script> -->

    <!-- Models -->
    <script src="js/models/filedescriptormodel.js"></script>
    <script src="js/models/workflowtoolparametermodel.js"></script>
    <script src="js/models/workflowtooldatamodel.js"></script>
    <script src="js/models/personmodel.js"></script>
    <script src="js/models/workflowstepmodel.js"></script>
    <script src="js/models/workflowtoolmodel.js"></script>
    <script src="js/models/workflowmodel.js"></script>

    <!-- main application -->
    <script src="js/main.js"></script>
</body>
</html>
