<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cyberintegrator Editor</title>
    <!-- <link rel="stylesheet" href="assets/css/demo-all.css"> -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="assets/css/perimeterAnchorsDemo.css"> -->

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
</script>
    <script type="text/template" id="person-list-item">
        <%= firstName %> <%= lastName %> - <%= email %>
    </script>
    <script type="text/template" id="workflow-list-item">
        <%= title %>
    </script>
    <script type="text/template" id="new-workflow-buttons">
        <div class="btn-group btn-group-horizontal">
            <button id="new-workflow" class="btn myButton">New</button>
            <button id="open-workflow" class="btn myButton">Open</button>
            <button id="delete-workflow" class="btn myButton">Delete</button>
            <button id="copy-workflow" class="btn myButton">Copy</button>
            <!-- <button id="save-workflow" class="btn myButton">Save</button> -->
        <div>    
    </script>
    <script type="text/template" id="new-workflow">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="workflow-title">Title:</label>
                <div class="controls">
                    <input type="text" name="workflow-title" id="workflow-title" placeholder="enter title"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" id="create-workflow">Create</button>
                    <button class="btn" id="cancel">Cancel</button>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="addshape-button-template">
        <button id="addshape-button" class="btn btn-primary">Add Shape</button>
    </script>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Cyberintegrator Editor</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Execute</a></li>
                        <li><a href="#">About</a></li>   
                        <li><a href="#">Contact</a></li>   
                    </ul>
                    <form class="navbar-search pull-right">
                        <input type="text" class="search-query" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id='editor-app' class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div id="tool-parent">
                    <legend class="cbi-legend">Tools</legend>
                    <div id="workflow-tools"></div>
                </div>
                <div id="workflow-parent">
                    <legend class="cbi-legend">Workflows</legend>
                    <div id="workflows"></div>
                    <div id="workflowbuttons"></div>
                    <div id="modalWorkflowView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h3 id="newWorkflowDialogLabel">New Workflow</h3>
                        </div>
                        <div class="modal-body" id="modal-content">
                            <div id="new-workflow-content"></div>
                        </div>
                        <div class="modal-footer">
                            <!-- 
                            <button id="create-workflow" class="btn btn-primary">Create</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        -->
                        </div> 
                    </div>
                </div>
                <div id='workflow-tool-info'>
                    <legend class="cbi-legend">Info</legend>
                    <div id="infoview">
                        <form id="form">
                        </form>
                        <!--
                        <form id="form">
                             <div class="row-fluid">
                                <div class="span1">
                                    <label>Title:</label>
                                    <label>Description:</label>
                                    <label>Author:</label>
                                    <label>Version:</label>
                                </div>
                                <div class="span1">
                                    <label>the-title</label>
                                    <text>the-description</text>
                                    <label>the-author</label>
                                    <label>the-version</label>
                                </div>
                        </form> -->
                    </div>
                </div>
                <!--
                <div id="person-parent">
                    <legend class="cbi-legend">Users</legend>
                    <div id="persons"></div>
                </div> -->
            </div>
            <div class="span10">
                <div class="dropzone">
                    <legend class="cbi-legend" id="workflow-legend">Workflow Graph</legend>
                    <div id="wgraph">
                        <!-- 
                        <div class="shape" data-shape="Rectangle" id="analysis1" left='49em' top='71em'>eAIRS-CFD</div>
                        <div class="shape" data-shape="Ellipse" id="input1">file-locations.txt</div>
                        <div class="shape" data-shape="Ellipse" id="output1">standard-out</div>
                        <div class="shape" data-shape="Ellipse" id="output2">standard-err</div>
                        <div class="shape" data-shape="Ellipse" id="output3">gondola-log</div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="row-fluid">
            <div class="span2">
                <div id='workflow-tool-info'>
                    <legend class="cbi-legend">Info</legend>
                    <div id="infoview">
                        <form id="form">
                             <div class="row-fluid">
                                <div class="span4">
                                    <label>Title:</label>
                                    <label>Description:</label>
                                    <label>Author:</label>
                                    <label>Version:</label>
                                </div>
                                <div class="span4">
                                    <label>the-title</label>
                                    <text>the-description</text>
                                    <label>the-author</label>
                                    <label>the-version</label>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script src="assets/jquery-1.9.0.js"></script>
    <script src="assets/jquery-ui-1.9.2-min.js"></script>
    <script src="assets/json2.js"></script>
    
    <script src="assets/underscore-min.js"></script>
    <script src="assets/backbone-min.js"></script> 
    <script src="assets/backbone.dualstorage.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="assets/backbone.localStorage.js"></script> -->

    <script src="assets/jquery.jsPlumb-1.4.1-all-min.js"></script>

    <!-- Views -->
    <script src="js/views/workflowgraphview.js"></script>
    <script src="js/views/workflowtoolview.js"></script>
    <script src="js/views/workflowview.js"></script>
    <!-- <script src="js/views/personview.js"></script> -->

    <!-- Models -->
    <script src="js/models/filedescriptormodel.js"></script>
    <script src="js/models/workflowtoolparametermodel.js"></script>
    <script src="js/models/workflowtooldatamodel.js"></script>
    <script src="js/models/personmodel.js"></script>
    <script src="js/models/workflowstepmodel.js"></script>
    <script src="js/models/workflowtoolmodel.js"></script>
    <script src="js/models/workflowmodel.js"></script>

    <!-- main application -->
    <script src="js/main.js"></script>
</body>
</html>
