apiVersion: v2
name: datawolf
icon: https://raw.githubusercontent.com/ncsa/datawolf/develop/datawolf.png
home: https://datawolf.ncsa.illinois.edu/
description: DataWolf an Open Source Scientific Workflow System
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: 4.8.0

# List of people that maintain this helm chart.
maintainers:
  - name: Rob Kooper
    email: kooper@illinois.edu
  - name: Yong Wook Kim
    email: ywkim@illinois.edu
  - name: Chris Navarro
    email: cmnavarr@illinois.edu

# location of source code
sources:
  - https://github.com/ncsa/datawolf

# dependencies for the helm chart, use helm dep install to the install them.
dependencies:
  - name: postgresql
    version: ~10
    repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
    condition: postgresql.enabled

# annotations for artifact.io
annotations:
  artifacthub.io/changes: |
    - User information to environment of process running the tool
    - Ability for extra environment variables (used by IN-CORE)
