<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataWolf Editor</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link href="execute.css" rel="stylesheet">
</head>
<body>
</script>
    <script type="text/template" id="submission-header">
        <div class="cbi-submission-header">
            <p class="cbi-workflow-title"> WORKFLOW: <%= title %> </p>
            <p>Submission Title: <input ondragover="return false" value= ""  name="submission-title" class="cbi-submission-title"></p>
            <p>Submission Description: <input ondragover="return false" value= ""  name="submission-description" class="cbi-submission-description"></p>
        </div>
    </script>
    <script type="text/template" id="step-list-item">
        <p class="cbi-step-title"> STEP <%= num %>: <b>  <%= title %></b> </p>
    </script>
    <script type="text/template" id="dataset-select-item">
        <%= model.title %>: <div class="cbi-dataset-selection" id= <%= datasetElementId %> value=" " > <p> drop dataset here </p> </div>
    </script>
    <script type="text/template" id="param-list-item">
        <%= model.title %>: <input ondragover="return false" value= "<%= model.value %>"  name= <%= inputboxId %> class="cbi-param-input">
    </script>
    <script type="text/template" id="execute-workflow-button">
        <br></br>
        <button id="execute-workflow" class="btn btn-default cbi-exec-btn">Execute</button> 
    </script>
    <script type="text/template" id="person-list-item">
        <%= firstName %> <%= lastName %> - <%= email %>
    </script>
    <script type="text/template" id="workflow-list-item">
        <div class="list-item"><span class="icon-wf"><img src="assets/img/icon-wf.png"></img></span><%= title %></div>
        <!-- <span class="icon-wf"><img src="assets/img/icon-wf.png" ></img></span><%= title %> -->
    </script>
    <script type="text/template" id="dataset-list-item">
        <div class="list-item"><span class="icon-wf"><img src="assets/img/icon-exec.png"></img></span><%= title %></div>
        <!-- <span class="icon-wf"><img src="assets/img/icon-exec.png" ></img></span><%= title %> -->
    </script>
    <script type="text/template" id="workflow-info-view">
        <form class="form-inline">
            <div class="control-group">
                <label class="control-label" for="workflow-title">Title:</label>
                <div class="controls">
                    <input type="text" name="workflow-title" id="workflow-title" placeholder="enter title" value="<%= title %>"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="workflow-date">Date:</label>
                <div class="controls">
                    <input type="text" name="workflow-date" id="workflow-date" placeholder="no date" value="<%= created %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="workflow-creator">Creator:</label>
                <div class="controls">
                    <input type="text" name="workflow-creator" id="workflow-creator" placeholder="no creator" value="<%= creator.firstName %> <%= creator.lastName %>" readonly/>
                </div>
            </div>
        </form>
    </script>
     <script type="text/template" id="tool-data-info-view">
        <form class="form-inline">
            <div class="control-group">
                <label class="control-label" for="tooldata-title">Title:</label>
                <div class="controls">
                    <input type="text" name="tooldata-title" id="tooldata-title" placeholder="enter title" value="<%= title %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tooldata-description">Description:</label>
                <div class="controls">
                    <input type="text" name="tooldata-description" id="tooldata-description" placeholder="no date" value="<%= description %>" readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="tooldata-mimetype">Mime-Type:</label>
                <div class="controls">
                    <input type="text" name="tooldata-mimetype" id="tooldata-mimetype" placeholder="no creator" value="<%= mimeType %>" readonly/>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="workflow-step-info-view">
    </script>
    <script type="text/template" id="new-workflow-buttons">
        <div class="btn-toolbar nav-button-bar">
            <div class="btn-group pull-right cbi-btn-group">
                <button id="workflow-open-btn" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Open">
                   <span class=""><img src="assets/img/icon-toolbar-open-active.png"></img></span>
                </button>
                <button id="workflow-info-btn" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Information">
                    <span class=""><img src="assets/img/icon-toolbar-info-inactive.png"></img></span>
                </button>
            </div>
        </div>
    </script>
    <script type="text/template" id="dataset-buttons">
        <div class="btn-toolbar nav-button-bar">
            <div class="btn-group pull-right cbi-btn-group">
                <button id="dataset-info-btn" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Information">
                    <span class=""><img src="assets/img/icon-toolbar-info-inactive.png"></img></span>
                </button>
                <button id="dataset-download-btn" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Download">
                    <span class=""><img src="assets/img/icon-toolbar-download-inactive.png"></img></span>
                </button>
                <!-- TODO implement del dataset, this is just a UI placeholder --> 
                <button id="delete-dataset" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Delete">
                    <span class=""><img src="assets/img/icon-toolbar-trash-inactive.png"></img></span>
                </button> 
                <!-- TODO implement add dataset, this is just a UI placeholder --> 
                <button id="new-dataset" type="button" class="btn btn-default btn-xs btn-toolbar-bkgrd" data-toggle="tooltip" data-placement="bottom" 
                    data-original-title="Import">
                    <span class=""><img src="assets/img/icon-toolbar-add-inactive.png"></img></span>
                </button>
            </div>
        </div>   
    </script>
    <script type="text/template" id="new-dataset">
        <form enctype="multipart/form-data" role="form" id="dataset-upload-form" action="/datasets" method="POST" >
            <div class="row">
                <label class="col-xs-2" for="dataset-title"><font color='#6D6E70'>Title</font></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="datasetTitle" id="dataset-title" placeholder="enter title"/>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-xs-2" for="dataset-description"><font color='#6D6E70'>Description</font></label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="datasetDescription" id="dataset-description" placeholder="enter description"/>
                </div>
            </div>
            <br>
            <div class="row">
                <label class="col-xs-2" for="dataset-file"><font color='#6D6E70'>Choose File</font></label>
                <div class="col-xs-10">
                    <input type="file" class="form-control" name="uploadedFile" id="dataset-file" placeholder="enter dataset path"/>
                </div>
            </div>
            <br>
            <input type="hidden" class="form-control" name="useremail" value="<%= email %>"/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-save">
                        <button class="btn btn-default" id="save-dataset">Upload</button>
                    </div>
                    <div class="btn-group btn-group-save">
                        <button class="btn btn-default" id="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="workflow-graph-button-bar">
        <div class="canvas-button-bar">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <!-- <a data-toggle="modal" href="#modalWorkflowView" class="btn btn-primary btn-lg">Launch demo modal</a> -->
            <button id="workflow-save-as" type="button" class="btn btn-default btn-save-as">Save As</button>
        </div> 
    </script>
    <script type="text/template" id="addshape-button-template">
        <button id="addshape-button" class="btn btn-primary">Add Shape</button>
    </script>
    <!-- workflow info popover -->
    <script type="text/template" id="workflow-popover">
        <div class="info-title-bkgrd info-title-font">
            <span class="glyphicon glyphicon-info-sign info-popover-title"></span>
            <%= title %>
        </div>
    </script>
    <script type="text/template" id="workflow-popover-content">
        <div>
            <div>
               <table class="table">
                <tbody>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Date Created</font></td>
                        <td><font class="info-metadata-fontvalue"><%= created %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Author</font></td>
                        <td><font class="info-metadata-fontvalue"><%= creator.firstName %> <%= creator.lastName %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel"># of Steps</font></td>
                        <td><font class="info-metadata-fontvalue"><%= steps.length %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel"># of Executions</font></td>
                        <td><font class="info-metadata-fontvalue"><%= numExecutions %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Time / Execution</font></td>
                        <td><font class="info-metadata-fontvalue"><%= avgTime %></font></td>
                    </tr>
                </tbody>
               </table>
            </div>
            <div class="">
               <div class="info-tab-bkgrd info-tab-div">
                    <font class="info-tab-font">Description</font>
                </div>
                <div class="info-content-normal">
                    <%= description %>
                </div>
            </div>
        </div>
    </script>
    <!-- dataset info popover -->
    <script type="text/template" id="dataset-popover">
        <div class="info-title-bkgrd info-title-font">
            <span class="glyphicon glyphicon-info-sign info-popover-title"></span>
            <%= title %>
            <!-- <button class="close closePopover" type="button" >×</button> -->
        </div>
    </script>
    <script type="text/template" id="dataset-popover-content">
        <div>
            <div>
               <table class="table">
                <tbody>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Date Created</font></td>
                        <td><font class="info-metadata-fontvalue"><%= date %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Author</font></td>
                        <td><font class="info-metadata-fontvalue"><%= creator.firstName %> <%= creator.lastName %></font></td>
                    </tr>
                </tbody>
               </table>
            </div>
            <div class="">
               <div class="info-tab-bkgrd info-tab-div">
                    <font class="info-tab-font">Description</font>
                </div>
                <div class="info-content-normal">
                    <%= description %>
                </div>
            </div>
        </div>
    </script>
    <!-- Tool Info Scripts -->
    <script type="text/template" id="workflow-tool-popover-content-top">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Date Created</font></td>
                        <td><font class="info-metadata-fontvalue"><%= date %></font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Author</font></td>
                        <td><font class="info-metadata-fontvalue">Unknown</font></td>
                    </tr>
                    <tr>
                        <td><font class="info-metadata-fontlabel">Executor</font></td>
                        <td><font class="info-metadata-fontvalue"><%= executor %></font></td>
                    </tr>
                </tbody>
            </table>
    </script>
    <script type="text/template" id="workflow-tool-popover-content-open">
        <div class="info-accordian-border">
    </script>
    <script type="text/template" id="workflow-tool-popover-content-description">
        <div id="description">
            <div class="info-tab-bkgrd info-tab-div">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#description" href="#collapseDesc"><font class="info-tab-font">DESCRIPTION</font></a>
            </div>
            <div id="collapseDesc" class="info-content-normal info-content-body collapse in">
                <%= description %>
            </div>
        </div>
    </script> 
    <script type="text/template" id="workflow-tool-popover-content-input-title">
        <div id="tool-inputs">           
            <div class="info-tab-bkgrd info-tab-div">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#tool-inputs" href="#collapseInputs"><font class="info-tab-font">INPUTS</font></a>
            </div>
            <div id="collapseInputs" class="info-content-normal info-content-body collapse in">
    </script>
    <script type="text/template" id="workflow-tool-popover-content-output-title">
        <div id="tool-outputs">           
            <div class="info-tab-bkgrd info-tab-div">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#tool-outputs" href="#collapseOutputs"><font class="info-tab-font">OUTPUTS</font></a>
            </div>
            <div id="collapseOutputs" class="info-content-normal info-content-body collapse in">
    </script>
    <script type="text/template" id="workflow-tool-popover-content">
            <div class="info-content-normal">
                <font class="info-content-subhead"><%= title %></font>
                <br>
                <%= description %>
            </div>
    </script>
    <script type="text/template" id="workflow-tool-popover-content-parameter-title">
        <div id="tool-parameters">           
            <div class="info-tab-bkgrd info-tab-div">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#tool-parameters" href="#collapseParameters"><font class="info-tab-font">PARAMETERS</font></a>
            </div>
            <div id="collapseParameters" class="info-content-normal info-content-body collapse in">
    </script>
    <script type="text/template" id="workflow-tool-popover-content-close">
            </div>
        </div>
    </script>
    <div id='editor-app' class="container-liquid">
        <div class="row">
            <div class="col-lg-2 panel-left-bkgrd">
                <div class="execute-nav" id="my-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="Nav-1-link"><a href="index.html"><label class="Nav-1-Default">Build</label></a></li>
                        <li class="Nav-1-link"><a href="#"><label class=" Nav-1-Selected">Execute</label></a></li>
                        <li class="Nav-1-link"><a href="history.html"><label class="Nav-1-Default">History</label></a></li>
                    </ul>
                </div> 
                <div class="workflow-parent" id="workflow-parent">
                    <div class="Nav-2-Bkgrd nav-title">
                        <h3 class="cbi-title Nav-2-Text">
                            <span class="icon-wf-title"><img src="assets/img/wf.png"></img></span>
                            Workflows
                        </h3>
                    </div>
                    <form class="navbar-form" role="search">
                        <div class="input-group search-bar-bkgrd">
                            <input type="text" class="form-control search-bar-bkgrd" placeholder="Search" name="workflow-search" id="workflow-search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="workflows-view" id="workflows"></div>
                    <div class="workflow-buttons" id="workflowbuttons"></div>
                </div>
                <div class="dataset-parent" id="dataset-parent">
                    <div class="Nav-2-Bkgrd nav-title">
                        <h3 class="cbi-title Nav-2-Text">
                            <span class="icon-wf-title"><img src="assets/img/ds-icon.png"></img></span>
                            Datasets
                        </h3>
                    </div>
                    <div>
                        <form class="navbar-form" role="search">
                            <div class="input-group search-bar-bkgrd">
                                <input type="text" class="form-control search-bar-bkgrd" placeholder="Search" name="dataset-search" id="dataset-search"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="datasets-view" id="datasets"></div>
                    <div class="dataset-buttons" id="datasetbuttons"></div>           
                </div>
            </div>
            <div class="panel-right-bkgrd col-lg-10">
                <div class="pull-right app-login">
                    <label id="current-user" class="hello-lbl"></label> 
                    <label>|</label>
                    <a href="" class="hello-lbl">Logout</a>
                    <span class=""><img src="assets/img/datawolf.png" height="25.776" width="105.273"></img></span>
                </div> 
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                </ul>
                <div id="tab-content" class="tab-content">
                    <div id="pane1" class="tab-pane active dropzone canvas-selected">
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal save-as dialog -->
        <div id="modalDatasetView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header save-as-title-bkgrd">
                        <h5 class="modal-title" id="newDatasetDialogLabel">UPLOAD NEW DATASET</h5>
                    </div>
                    <div class="modal-body save-as-body-bkgrd" id="modal-content">
                        <div id="new-dataset-content"></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script src="assets/jquery-1.9.0.js"></script>
    <script src="assets/jquery-ui-1.9.2-min.js"></script>
    <script src="assets/json2.js"></script>
    <script src="assets/underscore-min.js"></script>
    <script src="assets/backbone-min.js"></script> 
    <script src="assets/backbone.dualstorage.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/views/datasetview.js"></script>    
    <script src="js/views/workflowexecutionformview.js"></script>
    <script src="js/views/workflowview-execute-new.js"></script>

    <!-- Configuration options -->
    <script src="js/config.js"></script>
    <!-- Models -->
    <script src="js/models/filedescriptormodel.js"></script>
    <script src="js/models/workflowtoolparametermodel.js"></script>
    <script src="js/models/workflowtooldatamodel.js"></script>
    <script src="js/models/personmodel.js"></script>
    <script src="js/models/workflowstepmodel.js"></script>
    <script src="js/models/workflowtoolmodel.js"></script>
    <script src="js/models/workflowmodel.js"></script>
    <script src="js/models/datasetmodel.js"></script>
    <script src="js/models/submissionmodel.js"></script>
    <!-- main application -->
    <script src="js/execute.js"></script>
</body>
</html>
